# Enable symlinks
Options +FollowSymLinks

RewriteEngine On
RewriteBase /en/

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)/?$ $1.php [L,QSA]

RewriteCond %{THE_REQUEST} \s([^.]+)\.php[?\s] [NC]
RewriteRule ^ %1 [R=301,L]
