RewriteEngine On
RewriteBase /

# Redirect .php extension to extensionless URL (handles subdirectories)
RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?] [NC]
RewriteRule ^ /%1? [R=301,L]

# Allow access to extensionless php files (handles subdirectories)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+?)/?$ $1.php [L]
